<!DOCTYPE html>
<html>

<head>
    <!-- Favicons -->
    <link rel="icon" href="/landing/images/favicon.png" />
    <link rel="apple-touch-icon" href="/landing/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/landing/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/landing/images/apple-touch-icon-114x114.png" />
    <!-- Facebook Pixel Code -->
    <script>
        ! function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '552885115632289');
        fbq('track', 'PageView');
    </script>
    <!-- End Facebook Pixel Code -->
    <!-- Html Page Specific -->
    <title>
        Võ lâm truyền kỳ 1 mobile|JX1 Efun Mobi
    </title>
    <meta charset="utf-8" />
    <meta name="description" content="JX1 Mobile EfunVN | Võ lâm truyền kỳ 1 phiên bản mobile" />
    <meta name="author" content="efunvn" />
    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="võ lâm truyền kỳ jx1 efun, vo lam truyen ky, vltk, võ lâm truyền kỳ mobile, vo lam truyen ky mobile, vltkm, vlm, mobile, game nhập vai, MMORPG, game di động nhập vai, game di động võ lâm truyền kỳ, mobile game võ lâm truyền kỳ, trang chu volam mobile, tro choi, game miễn phí, online, volam, vl, game kiếm hiệp, game Kim Dung" />
    <meta property="og:title" content="Võ lâm truyền kỳ 1 mobile|JX1 Efun Mobi" />
    <meta property="og:description" content="Võ Lâm Truyền Kỳ Mobile là game kiếm hiệp nhập vai trực tuyến dành cho thiết bị di động với nhiều tính năng cực chất như Tống Kim, Công Thành Chiến, Boss Thế Giới…" />
    <meta property="og:image" itemprop="image" content="~/images/sl1.png" />
    <!-- Favicons -->
    <link rel="icon" href="~/images/32.png" />
    <link rel="apple-touch-icon" href="~/images/64.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/192x192.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/114.png" />
    <link rel="stylesheet" href="~/fontawsome/all.min.css" />
    <link rel="stylesheet" href="~/fontawsome/fontawesome.min.css" />
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/css/swiper.min.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&amp;display=swap" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/magnific-popup.min.css" />
    <link rel="stylesheet" href="~/vendors/css/jquery.flipster.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/newsqueries.css" />
    <link rel="stylesheet" href="~/css/queries.css" />
    <link rel="stylesheet" href="~/css/handbookqueries.css" />
    <link rel="stylesheet" href="~/css/newsdetail.queries.css" />
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .hidden {
            display: none !important;
        }

        img {
            max-width: 100% !important;
        }

        .fb_dialog_content iframe {
            margin-left: 0 !important;
        }

        #fb-root iframe {
            height: 1px;
        }

        .created-date {
            color: white;
            position: absolute;
            right: 0px;
        }
    </style>
    <link rel="stylesheet" href="~/css/queries.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CFEVR8X93Z"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-CFEVR8X93Z');
    </script>
</head>

<body data-spy="scroll" data-target=".navMenuCollapse" ng-app="myApp">
    <!-- Load Facebook SDK for JavaScript -->



    <div id="fb-root"></div>
    <form method="post" action="./home" id="form1">
        <div class="aspNetHidden"><input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="Xo3jWXsby9Lb2jT9S58DQifajNy/00pPcCoNA7DzPE6Eehjgeidifm3YUfeBcC0TGZusAoBzXO+Rwd/EUvJVg68oeSxDIHcK/RqWBUKSUtQ=" /></div>
        <div class="wrap" id="wrap">
            <!-- FIXED -->
            <div class="right-nav">
                <div class="sticky-nav active-sticky-nav">
                    <a href="/home#home" class="sticky-button-logo" title="Trang Chủ">Trang Chủ</a>
                    <a href="/download/index.aspx" class="sticky-button-download" title="Tải Game">Tải Game</a>
                    <a href="https://id.jx1efunvn.mobi" class="sticky-button-giftcode" title="Đăng Ký">Đăng Ký</a>
                    <a href="https://www.facebook.com/jx1efunvnmobile" class="sticky-button-fanpage" title="Fan Page">Fan Page</a>
                    <a href="https://www.facebook.com/groups/jx1efun/" class="sticky-button-group" title="Cộng Đồng">Cộng Đồng</a>
                    <a href="/tin-tuc" class="sticky-button-event" title="Sự Kiện">Sự Kiện</a>
                </div>
                <div class="sticky-arrow-off sticky-arrow-on"></div>
            </div>
            <div class="khuyen-cao"><img src="~/images/18plus.jpg" alt=""></div>
            <!-- END FIXED -->
            <!-- HEADER -->
            <div class="header" id="home">
                <div class="main-nav">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="main-nav-logo"><a href="/home#home" title="Trang Chủ"><img src="~/images/logo.png" alt=""></a></div>
                            <a href="/download/index.aspx" class="main-nav-download" title="Tải Game"></a>
                            <a href="https://id.jx1efunvn.mobi" class="main-nav-donate" title="Đăng Ký"></a>
                            <a href="https://www.facebook.com/jx1efunvnmobile" title="Fanpage" class="mobile-nav-icon-fb"><i class="fab fa-facebook-square"></i></a>
                            <a href="/home#home" title="Trang Chủ" class="mobile-nav-icon-home"><i class="fas fa-home"></i></a>
                            <div class="main-nav-button-bar">
                                <i class="fas fa-bars" title="Menu"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobile-nav">
                    <ul>
                        <li><a href="/home#home">Trang chủ</a></li>
                        <li class="cam-nang">
                            <a href="javascript:void(0)">Cẩm Nang<i class="fas fa-plus-circle"></i></a>
                            <ul class="submenu-cam-nang">
                                <li><a href="/HandBook/gioi-thieu/boi-canh.aspx" target="_blank">Giới Thiệu</a></li>
                                <li><a href="/HandBook/mon-phai/thien-vuong.aspx" target="_blank">Môn Phái</a></li>
                                <li><a href="/HandBook/tinh-nang/bang-hoi.aspx" target="_blank">Tính Năng</a></li>
                                <li><a href="/HandBook/ho-tro-tan-thu/nhiem-vu-the-gioi.aspx" target="_blank">Tân Thủ</a></li>
                            </ul>
                        </li>
                        <li><a href="/tin-tuc" target="_blank">Event</a></li>
                        <li><a asp-controller="Home" asp-action="NewsIndex" target="_blank">Tin Tức</a></li>
                        <li><a href="javascript:void(0)">1900 988961</a></li>
                    </ul>
                </div>
                <div class="menu-bar">
                    <div class="container">
                        <div class="row">
                            <div class="menu-bar-logo">
                                <a asp-controller="Home" asp-action="Index"  title="Trang Chủ"><img src="~/images/logo.png" alt=""></a>
                            </div>
                            <div class="menu-nav-bar">
                                <ul>
                                    <li><a asp-controller="Home" asp-action="Index">Trang Chủ</a></li>
                                    <li>
                                        <a href="/HandBook/mon-phai/thien-vuong.aspx" target="_blank">Cẩm Nang<i class="fas fa-sort-down"></i></a>
                                        <ul class="submenu-cam-nang">
                                            <li><a href="/HandBook/gioi-thieu/boi-canh.aspx" target="_blank">Giới Thiệu</a></li>
                                            <li><a href="/HandBook/mon-phai/thien-vuong.aspx" target="_blank">Môn Phái</a></li>
                                            <li><a href="/HandBook/tinh-nang/bang-hoi.aspx">Tính Năng</a></li>
                                            <li><a href="/HandBook/ho-tro-tan-thu/nhiem-vu-the-gioi.aspx" target="_blank">Tân Thủ</a></li>
                                        </ul>
                                    </li>
                                    <li><a asp-controller="Home" asp-action="NewsIndex" target="_blank">Event</a></li>
                                    <li><a asp-controller="Home" asp-action="NewsIndex" target="_blank">Tin Tức</a></li>
                                    <a class="hotline" href="javascript:void(0)">1900 988961</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="video-intro">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="#videostory" class="button" id="videolink"><img src="~/images/play.png" alt=""></a>
                                <div id="videostory" class="mfp-hide" style="max-width: 75%; margin: 0 auto;"><iframe width="560" height="315" src="https://www.youtube.com/embed/TTX5VbV218U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div ng-controller="newsController">
                @RenderBody()
            </div>

            <!-- FOOTER -->
            <footer>
                <div class="footer-info">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="app"><img src="~/images/app.png" alt=""></div>
                            </div>
                            <div class="col-sm-3">
                                <div class="information">
                                    <p>2019 &copy; EfunVN<br>Phát hành bởi JX1 EfunVN<br>Hotline: 1900 988961<br>Email: </p>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="location">
                                    <p>Thời gian: 8:30 - 22:00 tất cả các ngày (GMT +7)<br>Giấy phép G1 số: 376/GP-BTTTT<br>Số 19, 16A1, Làng Việt Kiều Châu Âu, Phường Mỗ Lao, Quận Hà Đông, Hà Nội<br>Chơi quá 180 phút một ngày sẽ ảnh hưởng xấu tới sức khỏe.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- END FOOTER -->
        </div>
        <!-- MODALS END-->
        <!-- JavaScript -->
        <!--[if lte IE 9]><script src="scripts/respond.min.js"></script><![endif]-->
        <!-- COLOR SETTINGS BEGIN -->
        <script data-cfasync="false" src="~/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.0.min.js" crossorigin="anonymous"></script>
        <script src="~/vendors/js/jquery.flipster.min.js"></script>
        <script src="~/js/swiper-bundle.min.js"></script>
        <script src="~/js/jquery.magnific-popup.min.js"></script>
        <script src="~/js/scripts.js"></script>
        <script type="text/javascript" src="~/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/angular-resource.min.js"></script>
        <script src="~/Scripts/angular-route.min.js"></script>
        <script src="~/Scripts/commons/general.js"></script>
        <script>
            var app = angular.module('myApp', []);
            var myApp = angular.module('myApp', []);
        </script>
        <script src="/Scripts/apps/newscontroller.js"></script>

        <div class="aspNetHidden"><input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="8D0E13E6" /></div>
    </form>
    <!-- Load Facebook SDK for JavaScript -->

</body>

</html>